<div class="games">
    <% for(let i=0; i<games.length; i++){ %> 
        <div class="game">
            <% if(locals.isAdmin==true) {%> 
                <label for ="admin-actions">Admin actions:</label>
                <div class="admin-actions" id="admin-actions">
                <form action = "/admin/game/delete" method="post">
                    <input type= "hidden" name="gameId" value="<%=games[i]._id%>" >
               <button class="form-button admin-btn" type = "submit">Delete game</button> 
               <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
            </form>

           <button class="form-button admin-btn" onclick='location.assign("/admin/track-game/<%=games[i]._id%>")'>Track game</button>
        </div>
    <% } %> 


    <div class="user-actions">
        <div class="red-side">
            <div class= "red-team-name"><%=games[i].redTeam.name%></div>
            <div calss= "red-team-score"><%=games[i].redScore%></div>
        </div>

            <div class="time-and-result">
                <div class= "game-time"><%=games[i].time%></div>
                <div class="result"><%=games[i].result%></div>
            </div>

        <div class="blue-side">
            <div class="blue-team-name"><%=games[i].blueTeam.name%></div>
            <div calss= "blue-team-score"><%=games[i].blueScore%></div>
        </div>
            
    </div>
</div>
        <% } %> 
</div>