<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/top-includes.ejs') %> 
    <div class="top">
        <div class="main">

    <div class="teams-container">
<% for(let i=0; i<teams.length;i++){ %> 

    <% if(locals.isAdmin==true) {%> 
        <label for ="admin-actions">Admin actions:</label>
        <div class="admin-actions" id="admin-actions">
        <form action = "/admin/team/delete" method="post">
            <input type= "hidden" name="teamId" value="<%=teams[i]._id%>" >
       <button class="form-button admin-btn" type = "submit">Delete team</button> 
       <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
    </form>
    <form action = "/admin/team/reset-score" method="post">
        <input type= "hidden" name="teamId" value="<%=teams[i]._id%>" >
   <button class="form-button admin-btn" type = "submit">Reset score</button> 
   <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
</form>


   <button class="form-button admin-btn" onclick='location.assign("/admin/edit-team/<%=teams[i]._id%>")'>Edit team</button>
</div>
<% } %> 

    <% const team  = teams[i];
    let stylePreference  = "";
    if(team.color =='red'){
        stylePreference ='team-red'

    }
    else{
        stylePreference = 'team-blue'
    }
    %> 
  

    <div class= <%=stylePreference%>>
        <div class="team-name"><%=teams[i].name%></div>

        <div class="team-btns">
        <form name="team-details" action = "/game/teams/team" method="post">
            <input name = "teamId" type = "hidden" value =<%=teams[i]._id%>>
            <button class="btn-details" type ="submit">Details</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
    </form>


    <%if(user.team==null){%>
        <form name = "leave-team" action ="/game/teams/leave" method  = "post">
            <input name = "teamId" type = "hidden" value =<%=teams[i]._id%>>
            <button class="btn-details" type ="submit">Join</button>
            <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'> 
         </form>
         
   <% } else if(user.team._id.toString()==teams[i]._id.toString()) {%> 
     <form name = "join-team" action ="/game/teams/join" method  = "post">
        <input name = "teamId" type = "hidden" value =<%=teams[i]._id%>>
        <button class="btn-details" type ="submit">Leave</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'> 
     </form>
<% } else { %> 
     <form name = "leave-team" action ="/game/teams/leave" method  = "post">
        <input name = "teamId" type = "hidden" value =<%=teams[i]._id%>>
        <button class="btn-details" type ="submit">Join</button>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'> 
     </form>
     <% } %> 
    </div>

</div>

<%}%>

    </div>
      
        </div>
    </div>
</body>