<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/top-includes.ejs') %> 
    <div class="top">
        <div class="main">
       <div class="user-details">
           <div class="userName">Name: <%=user.name%></div>
           <div class="userColor">Color: <%=user.team.color%></div>
           <div class="userTeam">Team: <%=user.team.name%></div>
          
       </div>
        </div>
    </div>
</body>